.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #000000;
}
.home-image {
  width: 223px;
  height: 223px;
  object-fit: cover;
}
.home-text {
  color: rgb(255, 255, 255);
  width: var(--dl-size-size-maxwidth);
  height: var(--dl-size-size-xlarge);
  font-size: 100px;
  max-width: auto;
  min-width: auto;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 800;
  line-height: 2;
  text-transform: capitalize;
}
.home-text01 {
  left: 0px;
  color: rgb(255, 255, 255);
  width: 1200px;
  bottom: 0px;
  height: 50px;
  margin: auto;
  position: absolute;
  align-self: flex-end;
  text-align: center;
  text-decoration: underline;
}
.home-container1 {
  top: 178px;
  left: 0px;
  right: 0px;
  width: 865px;
  height: 628px;
  display: flex;
  position: absolute;
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  margin-bottom: auto;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #1e1e1e;
}
.home-text02 {
  color: rgb(255, 255, 255);
  font-size: 75px;
  align-self: center;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.home-text03 {
  color: rgb(194, 192, 192);
  width: auto;
  height: var(--dl-size-size-xlarge);
  font-size: 30px;
  align-self: flex-start;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}
.home-button {
  color: #ffffff;
  width: 359px;
  height: 91px;
  display: flex;
  z-index: 100;
  font-size: 50px;
  box-shadow: 5px 5px 10px 0px #6f6f6f;
  margin-top: var(--dl-space-space-fourunits);
  font-family: Roboto;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  border-radius: 20px;
  flex-direction: row;
  text-transform: uppercase;
  background-color: var(--dl-color-gray-500);
}
.home-icon {
  fill: #ffffff;
  width: 59px;
  height: 75px;
}
.home-navlink {
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  letter-spacing: 1px;
  text-decoration: none;
}
.home-button1 {
  color: #ffffff;
  width: 359px;
  height: 91px;
  display: flex;
  z-index: 100;
  position: relative;
  font-size: 50px;
  box-shadow: 5px 5px 10px 0px #6f6f6f;
  margin-top: var(--dl-space-space-fourunits);
  font-family: Roboto;
  margin-right: var(--dl-space-space-twounits);
  border-radius: 20px;
  flex-direction: row;
  text-transform: uppercase;
  background-color: var(--dl-color-gray-500);
}
.home-icon2 {
  fill: #ffffff;
  width: 70px;
  height: 73px;
  align-self: center;
}
.home-link {
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  letter-spacing: 1px;
}
@media(max-width: 991px) {
  .home-button1 {
    align-self: center;
    margin-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-image {
    width: 155px;
    height: 158px;
  }
  .home-text {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-large);
    font-size: 75px;
    line-height: 2.25;
  }
  .home-container1 {
    width: 479px;
    height: 720px;
  }
}
